<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin" />

        <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

        {% block head_stylesheets %}
{#            <link rel="stylesheet" href="{{ asset('bundles/domadmin/bootstrap-all.css') }}">#}
            <link rel="stylesheet" href="{{ asset('bundles/domadmin/app.css') }}">
{#            <link rel="stylesheet" href="{{ asset('bundles/domadmin/styles.css') }}">#}
        {% endblock %}

        {% for css_asset in domadmin_config('design.assets.css') %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}

        <style>
            :root { --color-primary: {{ domadmin_config('design.brand_color') }}; }
        </style>

        {% block head_favicon %}
            {% set favicon = domadmin_config('design.assets.favicon') %}
            <link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}" />
        {% endblock %}

        {% block head_javascript %}
            <script src="{{ asset('bundles/domadmin/app.js') }}"></script>
        {% endblock head_javascript %}

        {% if domadmin_config('design.rtl') %}
            <link rel="stylesheet" href="{{ asset('bundles/domadmin/app-rtl.css') }}">
        {% endif %}
    </head>

    {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="domadmin domadmin-content-width-full {% block body_class %}{% endblock %}">
        {% block header %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

            {% block header_logo %}
            <a class="navbar-brand logo {{ domadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ domadmin_config('site_name')|striptags }}" href="{{ path('domadmin') }}">
                {{ domadmin_config('site_name')|raw }}
            </a>
            {% endblock header_logo %}


            {% set _user_name = domadmin_read_property(app.user, domadmin_config('user.name_property_path'))|default('user.unnamed'|trans(domain = 'DomAdminBundle')) %}
            {% set _logout_path = domadmin_logout_path() %}
            {% set _user_has_logout = _logout_path is not empty %}
            {% set _user_is_impersonated = is_granted('ROLE_PREVIOUS_ADMIN') %}

            <ul class="navbar-nav d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <div class="dropdown-item active" disabled="disabled" href="#">
                            {% if app.user|default(false) == false %}
                                {{ 'user.anonymous'|trans(domain = 'DomAdminBundle') }}
                            {% else %}
                                {{ _user_name }}
                            {% endif %}
                        </div>
                        <div class="dropdown-divider"></div>
                        {% if _user_has_logout %}
                            <a class="user-action user-action-logout" href="{{ _logout_path }}">{{ 'user.signout'|trans(domain = 'DomAdminBundle') }}</a>
                        {% endif %}
                        {% if _user_is_impersonated %}
                            <a class="user-action user-action-exit-impersonation" href="?_switch_user=_exit">{{ 'user.exit_impersonation'|trans(domain = 'DomAdminBundle') }}</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </nav>
        {% endblock header %}

        {% block wrapper_wrapper %}
        <div class="wrapper">
        {% block wrapper %}
                {% block sidebar %}

                    <section class="sidebar">
                        {% block main_menu_wrapper %}
                            {{ include([
                                _entity_config is defined ? _entity_config.templates.menu,
                                domadmin_config('design.templates.menu'),
                                '@DomAdmin/default/menu.html.twig'
                            ]) }}
                        {% endblock main_menu_wrapper %}
                    </section>

                {% endblock sidebar %}
                <main>
                    <div class="content">
                        <div class="p-4 mb-4 ui-widget-shadow">
                            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                                <div class="page-title d-flex">
                                    <h4><i class="fa fa-fw fa-cog mr-2"></i> <span class="font-weight-semibold">Editors</span> - {% block content_title %}{% endblock %}</h4>
                                </div>
                                <div class="page-title d-flex">
                                    {% block global_actions_new %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        {% block flash_messages %}
                            {{ include(_entity_config is defined ? _entity_config.templates.flash_messages : '@DomAdmin/default/flash_messages.html.twig') }}
                        {% endblock flash_messages %}
{#                        <div id="sidebar-resizer-handler" class="resizer-handler resizer-handler-left"></div>#}

                        {% block content %}
                            <div class="content">
                                {% block content_header_wrapper %}
                                    {% set _has_content_help = _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                    <section class="content-header {{ _has_content_help ? 'has-content-help' }}">
                                        {% block content_header %}
                                            <div class="d-flex flex-row justify-content-between align-content-center w-100">
                                                <div class="content-header-title">
                                                    <h1 class="title"></h1>
                                                </div>

                                                {% block global_actions_wrapper %}
                                                    <div class="global-actions">{% block global_actions %}{% endblock %}</div>
                                                {% endblock %}
                                            </div>

                                            {% block content_help %}
                                                {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                                                    <div class="content-header-help">
                                                        {{ _entity_config[app.request.query.get('action')]['help']|trans(domain = _entity_config.translation_domain)|raw }}
                                                    </div>
                                                {% endif %}
                                            {% endblock content_help %}
                                        {% endblock content_header %}
                                    </section>
                                {% endblock content_header_wrapper %}

                                <section id="main" class="content-body">
                                    {% block main %}{% endblock %}
                                </section>

                                {% block content_footer_wrapper %}
                                    <section class="content-footer">
                                        {% block content_footer %}

                                        {% endblock %}
                                    </section>
                                {% endblock %}
                            </div>
                        {% endblock content %}

                        <div id="content-resizer-handler" class="resizer-handler resizer-handler-right"></div>

                    </div>
                    <footer class="py-4 bg-light mt-4">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Your Website 2019</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </main>

        {% endblock wrapper %}
        </div>
        {% endblock wrapper_wrapper %}

        {% block body_javascript %}{% endblock body_javascript %}

        {% for js_asset in domadmin_config('design.assets.js') %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}
    </body>
    {% endblock body %}
</html>
